body {
    background-color: #1a1a1a; /* Fond sombre */
    color: gold; /* Texte doré */
    font-family: 'Garamond', serif; /* Police de caractère gothique */
    margin: 0;
    padding: 0;
    background-image: url(imperium-background.jpg);
}
.navbar {
    background: linear-gradient(90deg, #000, #222); /* Dégradé de noir */
    padding: 0.5rem 1rem; /* Réduire le padding pour un look plus soigné */
    display: flex;
    justify-content: space-around;
    border-bottom: 2px solid gold; /* Bordure dorée */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5); /* Ombre portée */
    position: fixed; /* Barre de navigation fixe */
    width: 100%;
    top: 0;
    z-index: 1000;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn {
    background-color: #000;
    color: gold;
    padding: 0.5rem 1rem; /* Taille plus élégante */
    font-weight: bold;
    font-size: 1.1rem; /* Taille de la police légèrement réduite */
    border: 2px solid gold; /* Bordure dorée */
    border-radius: 5px; /* Coins arrondis */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
}
.dropbtn:hover {
    background-color: gold;
    color: #1a1a1a;
    transform: scale(1.05); /* Légère augmentation de la taille au survol */
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Ombre plus prononcée */
    z-index: 1;
}
.dropdown-content a {
    color: gold;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s, color 0.3s;
}
.dropdown-content a:hover {
    background-color: gold;
    color: #1a1a1a;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.presentation {
    padding: 2rem;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.54); /* Fond sombre pour la présentation */
    border: 2px solid gold; /* Bordure dorée */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre portée */
    margin: 2rem;
    margin-top: 5rem; /* Espace pour la barre de navigation fixe */
}
.content {
    padding: 2rem;
    margin: 2rem;
    background-color: rgba(0, 0, 0, 0.54); /* Fond noir pour le contenu */
    border: 2px solid gold; /* Bordure dorée */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Ombre portée */
    position: relative;
    overflow: hidden;
}
.content section {
    margin-bottom: 2rem;
}
.content h2 {
    border-bottom: 2px solid gold; /* Ligne dorée sous les titres */
    padding-bottom: 0.5rem;
}
form {
    display: flex;
    flex-direction: column;
}
label {
    margin-bottom: 0.5rem;
}
input, textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 2px solid gold;
    border-radius: 5px;
    background-color: #333;
    color: gold;
}
button {
    padding: 0.5rem 1rem;
    border: 2px solid gold;
    border-radius: 5px;
    background-color: #000;
    color: gold;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: gold;
    color: #1a1a1a;
}
footer {
    background-color: #000;
    color: gold;
    text-align: center;
    padding: 1rem;
    border-top: 2px solid gold;
    margin-top: 2rem;
}
footer a {
    color: gold;
    text-decoration: none;
    transition: color 0.3s;
}
footer a:hover {
    color: #727272;
}
